@use "../settings" as *;

footer {
  padding: $spacer-lg;
  text-align: center;
  @include text-preset-4;

  @media (min-width: $breakpoint-sm) {
    margin: 0 auto;
    max-width: $recipe-max-width-md;
  }
  a {
    color: $c-rose-800;
  }
}
